--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn

boto3
python-dotenv
python-multipart

langchain
langchain-community
langchain-text-splitters
langchain-google-genai

sentence-transformers==2.7.0

torch==2.2.2+cpu

chromadb==0.4.24

pypdf
docx2txt
